altgraph==0.17.4
async-timeout==4.0.3
certifi==2023.11.17
charset-normalizer==3.3.2
idna==3.6
importlib-metadata==7.0.1
packaging==23.2
pefile==2023.2.7
pyaes==1.6.1
pyasn1==0.5.1
pyinstaller==6.3.0
pyinstaller-hooks-contrib==2023.12
python-socks==2.4.4
pywin32-ctypes==0.2.2
requests==2.31.0
rsa==4.9
schedule==1.2.1
Telethon==1.33.1
urllib3==2.1.0
zipp==3.17.0
